# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/student-management-system-node-back-end/node_modules
/student-management-system-front-end/node_modules
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
student-management-system-front-end/.env
student-management-system-node-back-end/.env

.husky
.vscode